* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Balsamiq Sans', cursive;
  font-family: 'Blinker', sans-serif;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s; }

html {
  scroll-behavior: smooth; }

body {
  background-color: #445566;
  color: #f7e6e6;
  -webkit-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
  position: relative;
  z-index: 50;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body.not-active {
  overflow: hidden !important; }

.content {
  max-width: 1400px;
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto; }

.go-top {
  width: 50px;
  height: 50px;
  border: 2px solid #eafa0a;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 600px;
  right: 25px;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  z-index: 100; }
  .go-top:hover {
    border: 2px solid #fa0ab2; }
  .go-top .fa-arrow-up {
    color: #eafa0a;
    font-size: 32px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
  .go-top:hover .fa-arrow-up {
    color: #fa0ab2; }

.header-mobile {
  position: relative;
  z-index: 200;
  overflow: hidden; }
  .header-mobile .mobile-menu {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0 16px;
    top: 0;
    background-color: transparent;
    left: 0;
    right: 0;
    height: 50px;
    opacity: .9; }
  .header-mobile .mobile-menu__btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 48px;
    height: 40px;
    cursor: pointer;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    padding-top: 30px;
    z-index: 300; }
  .header-mobile .mobile-menu__icon {
    display: block;
    position: relative;
    background: tomato;
    width: 100%;
    height: 4px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
  .header-mobile .mobile-menu__icon::after, .header-mobile .mobile-menu__icon::before {
    content: "";
    display: block;
    position: absolute;
    background: tomato;
    width: 100%;
    height: 4px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
  .header-mobile .mobile-menu__icon::after {
    top: 14px; }
  .header-mobile .mobile-menu__icon::before {
    top: -14px; }
  .header-mobile .mobile-menu__container {
    position: fixed;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 999;
    height: 0;
    opacity: 1;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    overflow: hidden;
    background-color: #071338;
    z-index: 2; }
  .header-mobile .mobile-menu__list {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    list-style: none;
    padding-left: 0;
    padding: 100px 0px 50px 0px; }
  .header-mobile .mobile-menu__item {
    font-size: 26px;
    padding-bottom: 40px; }
    .header-mobile .mobile-menu__item a {
      text-decoration: none;
      color: #fff; }
      .header-mobile .mobile-menu__item a:hover {
        color: #eafa0a; }
  .header-mobile .mobile-menu__link:hover, .header-mobile .mobile-menu__link:active {
    color: white; }
  .header-mobile .mobile-menu__checkbox {
    display: none; }
  .header-mobile .mobile-menu__checkbox:checked ~ .mobile-menu__nav {
    opacity: 1; }
  .header-mobile .mobile-menu__checkbox:checked ~ .mobile-menu__container {
    height: 100%;
    overflow: scroll; }
  .header-mobile .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
    background: transparent; }
  .header-mobile .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before, .header-mobile .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    top: 0; }
  .header-mobile .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    background-color: white; }
  .header-mobile .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background-color: white; }
